body {
    font-family: 'Montserrat', sans-serif;
    color: $storm-dust;
}

.f-12 {
    font-size: 12px;
}

.f-18 {
    font-size: 18px;
}
.f-35 {
    font-size: 35px;
}

.fw-300 {
    font-weight: 300;
}

.fw-600 {
    font-weight: 600;
}

.fw-bold {
    font-weight: bold;
}

.w-250 {
    width: 250px;
}

.w-400 {
    width: 400px;
}

.cinder {
    color: $cinder;
  }

  .white {
      color: $white;
  }

  .main-color {
    color: $mountain-meadow
  }

  .br-5 {
      border-radius: 5px;
  }

  .infoBox {
    max-width: 950px;
    margin: 0 auto;
    max-height: 450px; }

    .clickable {
        cursor: pointer;
    }

    .m-auto {
        margin: 0 auto;
    }