body {
    font-family: 'Montserrat', sans-serif;
    color: $storm-dust;
}

.f-12 {
    font-size: 12px;
}

.f-30 {
    font-size: 30px;
}

.fw-300 {
    font-weight: 300;
}

.fw-bold {
    font-weight: bold;
}

.cinder {
    color: $cinder;
  }

  .main-color {
    color: $mountain-meadow
  }